# Connection multiplexing for performance (optimize connection reuse)
ControlMaster auto
ControlPath /tmp/ssh-%r@%h:%p
ControlPersist 10m
Compression yes

Host bastion
  HostName 127.0.0.1
  Port 2222
  User appuser
  IdentityFile /app/client/id_client
  CertificateFile /app/client/id_client-cert.pub
  # TODO: Set UserKnownHostsFile to /app/client/known_hosts
  # TODO: Set StrictHostKeyChecking yes
  BatchMode yes
  LogLevel ERROR

Host apphost
  HostName 127.0.0.1
  Port 2223
  User appuser
  IdentityFile /app/client/id_client
  CertificateFile /app/client/id_client-cert.pub
  # TODO: Configure ProxyJump through bastion
  # TODO: Rename host to app-via-bastion
  # TODO: Set UserKnownHostsFile to /app/client/known_hosts
  # TODO: Set StrictHostKeyChecking yes
  BatchMode yes
  LogLevel ERROR
