Port 2222
ListenAddress 127.0.0.1
Protocol 2
HostKey /app/bastion/ssh_host_ed25519_key
# TODO: Configure to accept user CA for principal appuser (no passwords)
# TODO: Add TrustedUserCAKeys directive
PubkeyAuthentication yes
AuthorizedKeysFile none
AllowUsers appuser
UsePAM no
LogLevel VERBOSE
AllowTcpForwarding yes
GatewayPorts no
ClientAliveInterval 60
Subsystem sftp /usr/lib/openssh/sftp-server
